[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/matplotlib-cpp"]
	path = external/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "external/Timer"]
	path = external/Timer
	url = https://github.com/SzymonZos/Timer.git
